/*
Theme Name: Craftsman
Description: Diacode blog theme.
Author: Victor Viruete
Author URI: http://illpack.com/
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

Text Domain: craftsman.
*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Myriad Pro',Helvetica,Arial,sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #666;
}

p {
  line-height: 1.4;
  margin: 0 0 1.4em 0;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #268CBB;
}

.btn, .more-link {
  display: inline-block;
  position: relative;
  line-height: 38px;
  padding: 0 16px;
  outline: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.15);
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 999em;
  -moz-border-radius: 999em;
  border-radius: 999em;
  -webkit-transition: .1s background-color,.1s border-color,.1s color;
  -moz-transition: .1s background-color,.1s border-color,.1s color;
  -ms-transition: .1s background-color,.1s border-color,.1s color;
  -o-transition: .1s background-color,.1s border-color,.1s color;
  transition: .1s background-color,.1s border-color,.1s color;
  border-color: #268CBB;
}

.btn.btn-sm {
  height: 30px;
  color: #268CBB;
  font-size: 15px;
  line-height: 27px;
}

.btn:hover, .more-link:hover {
  background-color: #268CBB;
  color: #fff;
}

.btn i, .more-link i {
  margin-left: 5px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Lato;
}

.container {
  max-width: 850px;
  margin: 0 auto;
}

.container:after {
  clear: both;
  content: '';
  display: block;
}

header {
  padding: 20px 0px;
  background-color: #efefef;
  margin-bottom: 30px;
}

header img {
  vertical-align: middle;
  width: 275px;
}

header h1 {
  font-weight: 100;
  font-family: courier;
  text-align: center;
}

header h1 a, header h1 a:link, header h1 a:active, header h1 a:visited  {
  color:   #222222 !important;
}

header h2 {
  font-weight: 100;
  text-align: center;
}

header h2 a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: .07em;
}

header h2 a:hover {
  border-color: #268CBB;
}

header nav {
  float: left;
}

header nav ul {
  font-family: Lato;
  font-weight: 400;
  margin-top: 30px;
}

header nav ul li {
  list-style-type: none;
  display: inline;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin: 0px 20px;
}

#main {
  margin-bottom: 60px;
}

.navigation{
  margin-top: 40px;
  padding-top: 40px;
  border-top:1px dotted #ddd;
}

.navigation .nav-previous{
  float:left;
}

.navigation .nav-next{
  float:right;
}

.navigation:after{
  clear: both;
  content: '';
  display: block;
}

/* EXTENDED POST */
article{
  margin-bottom: 60px;
}

article > h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 60px;
}

article .meta {
  font-weight: 100;
  margin: 20px 0px 30px 0px;  
  color: #aaa;
  font-size: 17px;
}

article .meta:after {
  clear: both;
  content: '';
  display: block;
}

article .meta .published-at {
  float: left;
}

article .meta .categories {
  float: right;
}

article .post-content h1, article .post-content h2, article .post-content h3, article .post-content h4, article .post-content h5, article .post-content h6 {
  text-transform: uppercase;
}

article .post-content h2 {
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.1;
  margin: 0;
  padding: .5em 0 .9em 0;
  color: #333;
  text-transform: uppercase;
}

article .post-content .alignleft {
  float: left;
}

article .post-content .alignright {
  float: right;
}

article .post-content ul li {
  line-height: 1.4;
  margin-bottom: 2em;
}

article .share {
  margin-bottom: 30px;
  text-align: right;
  padding: 15px;
  font-size: 17px;
}

article .author {
  background-color: #efefef;
  border-top: 1px solid #e5e5e5;
  padding: 20px;
  font-size: 17px;
}

article .author:after {
  clear: both;
  content: '';
  display: block;
}

article .author img {
  width: 15%;
  border-radius: 100px;
  float: left;
}

article .author .bio {
  float: left;
  width: 85%;
  padding: 0px 20px;
}

article .author .bio h3.name {
  margin-top: 0px;
}

article .author .bio .social a {
  margin-right: 1em;
}

/* Common styles */

.post-content a, 
.entry .intro a:not(.more-link),
.entry .meta a, 
article .share a, 
article .meta a{
  border-bottom: 0.07em solid rgba(0, 0, 0, 0.1);
  padding-bottom: .07em;
}

.post-content a:hover, 
.entry .intro a:hover, 
.entry .meta a:hover, 
article .share a:hover, 
article .meta a:hover {
  border-color: #268CBB;
}

/* POST INDEX */
.entry {
  margin: 2em 0;
}

.entry h2 {
  margin: 0;
}

.entry .meta {
  color: #aaa;
  font-weight: 100;
  margin: 10px 0px;
  font-size: 17px;
}

.entry .meta:after {
  clear: both;
  content: '';
  display: block;
}

.entry .meta .published-at {
  float: left;
}

.entry .meta .categories {
  float: right;
}

footer {
  font-size: 17px;
  padding: 30px 0px;
  background-color: #3b3b3b;
  color: #aaa;
}

footer .container {
  max-width: 900px;
}

footer section:first-child {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

footer section:first-child:after {
  content: "";
  display: table;
  clear: both;
}

footer section:first-child .categories {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}

footer section:first-child .categories:last-child {
  margin-right: 0;
}

footer section:first-child .blog-subscription {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}

footer section:first-child .blog-subscription:last-child {
  margin-right: 0;
}

footer section:first-child .about {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}

footer section:first-child .about:last-child {
  margin-right: 0;
}

footer .categories ul {
  padding: 0;
}

footer .categories ul li {
  list-style-type: none;
  line-height: 25px;
}

footer .social-links a, footer .social-links a:link, footer .social-links a:active, footer .social-links a:visited {
  font-size: 50px;
  margin-right: 30px;
  color: #AAAAAA !important;
  transition: .1s color;
}

footer .social-links a:hover{
  color: #848484 !important;
}

footer .eof {
  text-align: center;
  font-size: 0.7em;
  margin-top: 20px;
}

input[type="text"] {
  border-radius: 15px;
  border: 1px solid #CCC;
  font-size: 16px;
  font-family: 'Myriad Pro',Helvetica,Arial,sans-serif;
  padding: 4px 12px;
  font-weight: 300;
  outline: none;
}

#diacode_picks {
  background: #ffc429 url(images/picks-bg-2.png) 3% center no-repeat;
  background-size: 35%;
  padding: 30px 0px;
  color: #c48e00;
  position: relative;
}

#diacode_picks .container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

#diacode_picks .container:after {
  content: "";
  display: table;
  clear: both;
}

#diacode_picks .container .releases {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}

#diacode_picks .container .releases:last-child {
  margin-right: 0;
}

#diacode_picks .container .subscription {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}

#diacode_picks .container .subscription:last-child {
  margin-right: 0;
}

#diacode_picks a, #diacode_picks a:link, #diacode_picks a:active, #diacode_picks a:visited {
  color: #C42900;
}

#diacode_picks .subscription h2 {
  margin-top: 0px;
}

#diacode_picks .subscription input[type="text"] {
  width: 70%;
}

#diacode_picks .releases .release {
  margin-bottom: 10px;
}

#diacode_picks .releases .release .cal {
  width: 40px;
  margin-right: 10px;
  text-align: center;
  float: left;
}

#diacode_picks .releases .release .cal .month {
  background-color: #FF5629;
  font-size: 12px;
  color: #fff;
  line-height: normal;
  padding: 3px;
}

#diacode_picks .releases .release .cal .day {
  line-height: normal;
  background-color: #fff;
  color: #2b2b2b;
  font-size: 20px;
  font-family: Lato;
  padding: 5px;
  font-weight: 600;
}

#diacode_picks .releases .release .info {
  float: left;
  padding: 3px 0px;
}

#diacode_picks .releases .release .info h4 {
  margin: 0;
}

#diacode_picks .releases .release .info p {
  margin: 0;
}

#diacode_picks .releases .release:after {
  content: '';
  clear: both;
  display: block;
}

#diacode_picks .btn {
  border-color: #FFE297;
  color: #c48e00;
}

#diacode_picks .btn:hover {
  background-color: #FFE297;
}
